@font-face {
  font-family: "SourceSansPro";
  font-weight: normal;
  src: url("./font/SourceSansPro-Regular.ttf"); }
@font-face {
  font-family: "SourceSansPro";
  font-weight: bold;
  src: url("./font/SourceSansPro-SemiBold.ttf"); }
html {
  scroll-behavior: smooth; }

body {
  background-color: #E5D9F2;
  margin: 0;
  font-family: "SourceSansPro", sans-serif;
  font-size: 1.1em;
  line-height: 1.4; }

footer {
  padding: 2em 0px; }

h1, h2, h3 {
  margin: 0.3em 0px; }

h2 {
  color: #111; }

h3 {
  color: #222; }

h4 {
  color: #333; }

p {
  color: #444; }

.required::after {
  content: '*';
  font-size: 12px;
  color: #E4572E;
  position: absolute;
  right: 4px;
  top: 2px;
  pointer-events: none; }

.dark {
  background-color: #2B2118; }
  .dark h2 {
    color: #eee; }
  .dark p {
    color: #ddd; }
  .dark input, .dark textarea {
    background-color: #2B2118;
    color: #ddd;
    border: 1px solid #8f897d;
    transition: all 100ms; }
    .dark input::placeholder, .dark textarea::placeholder {
      color: #8f897d; }
    .dark input:focus, .dark textarea:focus {
      border-color: #46a3e6;
      box-shadow: 0 0 10px #46a3e6;
      background-color: #362a1e;
      outline: none; }
  .dark input[type="submit"] {
    background-color: #ddd;
    color: #222; }

textarea {
  resize: vertical; }

img {
  max-width: 100%;
  border-radius: 5px; }
  img.photo {
    max-width: 200px;
    max-height: 200px;
    align-self: center; }

li > img.item {
  max-width: 70px;
  float: left;
  margin-right: 12px; }

ul {
  margin: 0; }

ul.unstyled {
  list-style: none;
  padding: 0px; }

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 320px; }
  .col.main {
    min-width: 50%; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative; }

main > .row {
  padding: 1em 0px; }
  main > .row:nth-child(odd) {
    background-color: #F5EFFF; }

button, input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: sans-serif;
  font-size: inherit;
  padding: 0.5em;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box; }

form .row {
  margin-bottom: 0.25em; }
  form .row:last-child {
    margin-bottom: 0px; }

.container {
  max-width: 800px;
  margin: auto;
  padding: 0px 1em;
  flex-basis: 100%; }

ul.competences {
  padding: 0; }
  ul.competences > li {
    display: inline-flex;
    flex-direction: column;
    max-width: 360px;
    margin-right: 20px; }
    ul.competences > li > p {
      margin-top: 0px; }

strong {
  color: #46a3e6;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #0496FF;
  font-weight: normal; }
  a:hover {
    text-decoration: underline; }
  a.external:after {
    content: '';
    background-image: url(img/external.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 6px; }

.copyright {
  margin: auto;
  margin-top: 1.5em; }

header {
  top: 0px;
  position: sticky;
  background-color: #E4572E;
  overflow: hidden;
  z-index: 1; }
  header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header > nav > ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0; }
      header > nav > ul > li > a {
        display: block;
        padding: 1em 0px;
        padding-right: 1em;
        color: #ddd; }
        header > nav > ul > li > a:hover {
          text-decoration: none;
          color: #eee; }
        header > nav > ul > li > a.external:after {
          filter: grayscale(1) brightness(2.5); }
      header > nav > ul > li:last-child > a {
        padding-right: 0px; }

#menu-toggler {
  display: none; }

#menu-toggler:checked + nav {
  max-height: 600px; }

.menu-toggler-label {
  display: none;
  color: #eee; }
  .menu-toggler-label h1 {
    margin: 0.67em;
    font-size: 1rem;
    text-align: center;
    flex: 1; }

.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.75em; }
  .hamburger > div {
    width: 16px;
    height: 2px;
    background: white;
    margin: 2px; }

@media (max-width: 650px) {
  .menu-toggler-label {
    display: flex; }

  header > nav {
    transition: max-height 300ms ease;
    max-height: 0px;
    flex-direction: column; }
    header > nav > ul {
      flex-direction: column; }
      header > nav > ul > li > a {
        text-align: center;
        padding-right: 0px; } }
.centered-text {
  text-align: center; }

.justified-text {
  text-align: justify; }

input[type="checkbox"] {
  appearance: checkbox;
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
  width: auto; }

.cgu {
  max-height: 0px;
  overflow: hidden; }

.btn {
  display: inline-flex;
  text-decoration: none;
  padding: 6px 10px;
  margin-bottom: 1em;
  background-color: #E4572E;
  color: #E5D9F2;
  border-radius: 5px;
  align-items: center; }
  .btn:hover {
    background-color: #c5401a;
    text-decoration: none; }

img.inline-icon {
  max-width: 16px;
  max-height: 16px;
  margin-left: 4px; }

@media (prefers-color-scheme: dark) {
  h1 {
    color: #fff; }

  h2 {
    color: #eee; }

  h3 {
    color: #ddd; }

  h4 {
    color: #ccc; }

  body, p {
    color: #ccc; }

  body {
    background-color: #3c3c3c; }

  strong {
    color: #46a3e6; }

  main > .row:nth-child(odd) {
    background-color: #444; } }

/*# sourceMappingURL=style.css.map */
